@tailwind base;
@tailwind components;
@tailwind utilities;

/*import "@fontsource/noto-sans";*/

@layer base {
  @font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    font-size: 1rem;
  }
  h1 {
      @apply text-3xl;
  }
  h2 {
      @apply text-2xl;
  }
  h3 {
      @apply text-xl;
  }
  h4 {
      @apply text-lg;
  }
  body {
      @apply text-base;
  }
}

.section-header {
    padding-top: 0.5rem;
    text-align: center;
}


.resume-info {
    padding: 0.5rem 1rem 0rem 1rem;
}


.list-item {
    list-style-type: disc;
}


.resume-list {
    padding-left: 1.5rem;
    margin-left: 0.5rem;
}

.resume-sublist {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.sublist-item {
    @apply text-sm;
    list-style-type: circle;
}

a {
    color: blue;
}

.name {
    font-family: "Noto Serif";
    margin-bottom: 0.25rem;
}

.headline {
    font-family: "Noto Serif";
    margin-bottom: 0.75rem;
}

.resume-header {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1;
    padding-bottom: 1.5rem;
}

.resume-section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.education-header,
.job-header {
    float: left;
}

.education-dates,
.job-dates {
    text-align: right;
    font-style: italic;
}

.resume {
    padding: 2rem;
}

/*.badge {*/
    /*width: 20%;*/
/*}*/

/*.badges {*/
/*    display: flex;*/
/*}*/

/*.badge-item {*/
/*    list-style-type: none;*/
/*    display: inline;*/
/*}*/

/*.badge-list {*/
/*    list-style-type: none;*/
/*}*/

.grid {
  display: grid;
}


.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-8 {
    	grid-template-columns: repeat(8, minmax(0, 1fr));
}

.gap-4 {
  gap: 1rem;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}
.col-span-3 {
    grid-column: span 3 / span 3;
}

.col-span-6 {
    	grid-column: span 6 / span 6;
}