{% extends "base.html" %}
{% block title %}
John Moore-Levesque
{% endblock %}

{% block page_content %}
<h1>John Moore-Levesque</h1>
<p>
    <a href="mailto:john@moorelevesque.com.com">john@moorelevesque.com</a>
    303-718-9787
    Jamestown, RI
</p>
{% for job in jobs %}
<h3>{{ job.company }} - {{ job.title }}</h3>
<h4>{{ job.start }} - {{ job.end }}</h4>

{% for duty, subduties in job.duties.items %}
{{ duty }}
<br>
<ul>
    {% for subduty in subduties %}
    <li>{{ subduty }}</li>
    {% endfor %}
</ul>
{% endfor %}

&nbsp;
&nbsp;
{% endfor %}

{% for tech in techs %}
<h4>{{ tech.0 }}</h4>
<ul>
    {% for bullet in tech.1 %}
    <li>{{ bullet }}</li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}