# Python
DEBUG=0 (or 1)
SECRET_KEY="some secret string"
DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 other hostnames"

# Database
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres_database
SQL_USER=postgres_user_name
SQL_PASSWORD=postgres_password
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
